.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    .panel-body {
      background-color: #f9f9f9;
      padding: 20px;
    }
